@font-face {
    font-family: "Castro";
    src: url({{ 'castro.woff2' | asset_url }}) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.price-area .h4-style {
  font-family: "Castro";
}
.clickyboxes li a.active, .clickyboxes li a.active:hover {
    border-color: #54787c;
    /* border-radius: 50%; */
}
.swatches .clickyboxes {
    width: fit-content;
}
select[data-listed][data-colour-swatch=true]+.clickyboxes a:before {
    width: 36px;
    height: 36px;
    top: 5px;
    left: 5px;
    background-color: transparent;
}
.clickyboxes li a {
    padding: 0 23px;
    border-color: transparent;
}
.clickyboxes.options--carat-total-weight li a, .clickyboxes.options--carat-total-weight li a:hover, .clickyboxes.options--metal-type li a:hover {
  border-color: #54787c;
}
.clickyboxes.options--carat-total-weight li a.active {
  background-color: #54787c;
  color: #ffffff;
}
.clickyboxes .slick-prev, .clickyboxes .slick-next, .product-block-options .product-block-options__inner .slick-next, .product-block-options .product-block-options__inner .slick-prev {
  display:none !important;
}

.prev_var, .next_var {
    background: transparent;
    color: #54787c;
    border: solid 1px #54787c;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 0;
}
.product-block-options {
    position: relative;
    padding: 5px 45px;
    margin: 0;
}
.product-block-options.option_slider {
    overflow: hidden;
}
.product-block-options .prev_var, .product-block-options .next_var {
    display: none;
}
.product-block-options.option_slider .prev_var, .product-block-options.option_slider .next_var {
    display: block;
    background: transparent;
    color: #54787c;
    border: none;
    padding: 0;
    bottom: 0;
}
.prev_var:hover, .next_var:hover {
  background: transparent;
  border: solid 1px #54787c;
}
.slick-disabled {
    opacity: 0.3;
    cursor: not-allowed;
}
.prev_var {
    position: absolute;
    left: -14px;
    z-index: 9999;
    bottom: 16px;
}
.next_var {
    position: absolute;
    right: 10px;
    z-index: 9999;
    bottom: 16px;
}
.product-block-options .prev_var {
    left: 0;
}
.product-block-options .next_var {
    right: 0;
}
.product-block-options__item {
    text-align: center;
    border: solid 1px #54787c;
    cursor: pointer;
}
.option_slider .product-block-options__item.selected, .option_slider .product-block-options__item:hover {
    background: #54787c;
    color: #fff;
}
.option_button .product-block-options__item {
    width: 40px;
}
.option_button .product-block-options__item.selected, .option_button .product-block-options__item:hover {
    background: #54787c;
    color: #fff;
}
.product-block-options--swatch .product-block-options__item.selected {
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #0000004d;
}
.product-block-options--swatch .product-block-options__item .product-block-options__item__text {
    color: #54787c;
}
.options--carat-total-weight {
  margin-left:30px;
  margin-right: 30px;
}
select[data-listed][data-colour-swatch=true]+.clickyboxes a {
    padding-left: 23px;
}
.clickyboxes.options--shape li a.active, .clickyboxes.options--shape li a.active:hover, .clickyboxes.options--metal li a.active, .clickyboxes.options--metal li a.active:hover {
    border-radius: 0;
    border: none;
    border-bottom: solid 3px #54787c;
}
.clickyboxes li a:hover {
    border-color: transparent;
}
.clickyboxes.options--shape li a span, .clickyboxes.options--metal li a span, .clickyboxes.options--metal-type li a span {
    display: none;
}
.clickyboxes.options--diamond li a.active, .clickyboxes.options--diamond li a.active:hover {
    border-color: #54787c;
    border-radius: 0;
}
.product-detail .input-row .option-selectors label {
    font-weight: bold;
}
.product-detail .input-row .option-selectors label span {
    font-weight: 500;
}
select[data-listed][data-colour-swatch=true]+.clickyboxes li {
    min-width: initial;
}
.ring-sizes .field {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    border: 1px solid gray;
    height: 100%;
}
#carat-size {
    display: none;
}
.bottom-info .info-text {
    display: none;
}
.quantity-submit-row__submit.input-row {
    display: flex;
    flex-direction: column;
}
.product__titles.key {
    order: 3;
}
.custom-ring.custom-pro-box {
    order: 4;
}
.custom-diamond.custom-pro-box {
    order: 5;
}
.bottom-info {
    order: 1;
    display: none;
}
.line-item-property__field {
    order: 2;
}
.option_field.ring-sizes {
    order: 6;
}
.ring_quantity {
    order: 7;
    margin-bottom: 18px;
}
.product-form .quantity-submit-row.has-spb .button {
    order: 8;
}
.radio_boxes {
    display: flex;
    gap: 5px;
}
.radio_boxes input {
    display: none;
}
.radio_boxes label {
    cursor: pointer;
    border: 1px solid rgb(216, 214, 209);
    min-width: 36px;
    min-height: 36px;
}
.line-item-property__field > label {
    font-weight: bold;
}
.line-item-property__field > label span {
    font-weight: 500;
}
label.selected {
    border-color: #54787c;
}
#choose-diamond .modal-content .diamond__content--price #add_diamond {
    display: none !important;
}
#choose-diamond-1 .diamond__content--price a:not(:first-child) {
    display: none !important;
}
.logo-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.product-block .image-cont {
    border: solid 2px #c6a592;
}

.menu-promotion__text {
    text-align: left;
    padding: 0 0 15px;
    font-size: .8em;
    line-height: 1.2em;
    font-weight: 500;
    letter-spacing: .08em;
    text-transform: uppercase;
    opacity: .7;
}
img.diamond_shape {
    width: 20px;
}

.heading {
    text-align: center;
    padding-bottom: 50px;
}
.heading p {
    margin-bottom: 0;
}
#chat_info, #template {
    width: 50%;
    padding: 0 50px;
}
.contact_container.container {
    max-width: 1200px;
}
.chat_info_list a {
    color: #000;
}
.chat_info_list a:hover {
    color: #964233;
}
.chat_info_list i {
    margin-right: 10px;
}
.bookeasy-appBlock-details {
    display: none;
}
.booking {
    margin-top: 30px;
}
.menu-promotion__text {
    text-align: center;
    font-size: 1em;
    opacity: 1;
    font-weight: bold;
}
.product-card button, .view-details-content button {
    color: #000;
    padding: 1em;
}

.template-suffix-ring-builder button {
    color: #000;
}

.template-suffix-ring-builder button svg {
    fill: transparent;
}
.bookeasy-back-btn, .bookeasy-next-btn, .bookeasy-widget-close-button {
  height: auto;
}
.product_medias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}
.clickyboxes li a.unavailable {
    background-color: transparent;
    border-color: #0000000d;
}
.clickyboxes.options--diamond-weight li a.active {
    border-radius: 0;
    background-color: #54787c;
    color: #fff;
}
.clickyboxes.options--diamond-weight li a.unavailable.active {
    background-color: #0000000d;
    color: #000;
}
table.diamond_info {
    width: 100%;
}
table.diamond_info td {
  padding: 6px 0;
}
.product_title {
  font-size:24px;
  font-weight:bold;
}
.price-area .h4-style {
  font-size:24px;
}
.price-descriptors {
  font-size: 14px;
}
.valuable_selector {
    display: none;
}
@media screen and (min-width: 768px) {
    .navigation .navigation__columns .navigation__column .navigation__tier-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    .navigation .navigation__columns .navigation__column .navigation__item {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
@media screen and (max-width:500px) {
    .logo-list {
        grid-template-columns: repeat(2, 1fr);
    }
    #chat_info, #template {
        width: 100%;
        padding: 0px;
    }
    #chat_info {
        text-align: center;
        margin-bottom: 50px;
    }
}