.clickyboxes li a.active, .clickyboxes li a.active:hover {
    border-color: #54787c;
    border-radius: 50%;
}
.swatches .clickyboxes {
    width: fit-content;
}
select[data-listed][data-colour-swatch=true]+.clickyboxes a:before {
    width: 36px;
    height: 36px;
    top: 5px;
    left: 5px;
    background-color: transparent;
}
.clickyboxes li a {
    padding: 0 23px;
    border-color: transparent;
}
select[data-listed][data-colour-swatch=true]+.clickyboxes a {
    padding-left: 23px;
}
.clickyboxes.options--shape li a.active, .clickyboxes.options--shape li a.active:hover {
    border-radius: 0;
    border: none;
    border-bottom: solid 3px #54787c;
}
.clickyboxes li a:hover {
    border-color: transparent;
}
.clickyboxes.options--shape li a span, .clickyboxes.options--metal li a span {
    display: none;
}
.clickyboxes.options--diamond li a.active, .clickyboxes.options--diamond li a.active:hover {
    border-color: #54787c;
    border-radius: 0;
}
.product-detail .input-row .option-selectors label {
    font-weight: bold;
}
.product-detail .input-row .option-selectors label span {
    font-weight: 500;
}
select[data-listed][data-colour-swatch=true]+.clickyboxes li {
    min-width: initial;
}
.ring-sizes .field {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    border: 1px solid gray;
    height: 100%;
}
#carat-size {
    display: none;
}
.bottom-info .info-text {
    display: none;
}
.quantity-submit-row__submit.input-row {
    display: flex;
    flex-direction: column;
}
.product__titles.key {
    order: 3;
}
.custom-ring.custom-pro-box {
    order: 4;
}
.custom-diamond.custom-pro-box {
    order: 5;
}
.bottom-info {
    order: 1;
    display: none;
}
.line-item-property__field {
    order: 2;
}
.option_field.ring-sizes {
    order: 6;
}
.ring_quantity {
    order: 7;
    margin-bottom: 18px;
}
.product-form .quantity-submit-row.has-spb .button {
    order: 8;
}
.radio_boxes {
    display: flex;
    gap: 5px;
}
.radio_boxes input {
    display: none;
}
.radio_boxes label {
    cursor: pointer;
    border: 1px solid rgb(216, 214, 209);
    min-width: 36px;
    min-height: 36px;
}
.line-item-property__field > label {
    font-weight: bold;
}
.line-item-property__field > label span {
    font-weight: 500;
}
label.selected {
    border-color: #54787c;
}